/*********************** Containers ****************************/

/*
* See Margin - https://www.w3schools.com/css/css_margin.asp
* See Position - https://www.w3schools.com/css/css_positioning.asp
*/
#parent_container {
  position: relative;
  width: 1024;
  height:  768;
  margin: auto;
}

/*********************** Canvas ****************************/

canvas {
  position: absolute;
  border: 1px solid black;
  width: 1024;
  height:  768;
  z-index: 1;

  
  /*we can repeat and animate an image*/
  background-image: url("../assets/images/background/Brown.png");
  background-repeat: repeat;
  animation-name: horizontal_scroll;
  background-size: 10% 10%;           /*https://www.w3schools.com/cssref/css3_pr_background-size.asp*/
  animation-duration: 4s;
  animation-timing-function:linear;     /*https://www.w3schools.com/cssref/css3_pr_animation-timing-function.asp*/
  animation-delay: 0s;
  animation-direction: reverse;          /*https://www.w3schools.com/cssref/css3_pr_animation-direction.asp*/
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;        /*https://www.w3schools.com/cssref/css3_pr_animation-fill-mode.asp*/
}

@keyframes horizontal_scroll {
  from {
    background-position:  0px 0px;
  }
  
  to {
    background-position:  1024px 0px;
  }
}

body {
  background-color: rgb(214, 96, 18);
}