/*********************** Containers ****************************/

/*
* See Margin - https://www.w3schools.com/css/css_margin.asp
* See Position - https://www.w3schools.com/css/css_positioning.asp
*/
#parent_container {
  position: relative;
  width: 1024;
  height:  768;
  margin: auto;
}

/*********************** Canvas ****************************/

canvas {
  position: absolute;
  border: 1px solid black;
  width: 1024;
  height:  768;
  z-index: 1;
}

/*********************** Fonts ****************************/

@font-face {
  font-family: "Orbitron";
  src: url("../assets/fonts/orbitron/orbitron-black-webfont.ttf")
      format("truetype"),
    url("../assets/fonts/orbitron/orbitron-black-webfont.svg") 
    format("svg");
}

@font-face {
  font-family: "Ostrich";
  src: url("../assets/fonts/ostrich/ostrich-sans-black.ttf") 
  format("truetype"),
    url("../assets/fonts/ostrich/ostrich-sans-black.svg") 
    format("svg");
}

body {
  font-family: Orbitron, Impact, Charcoal, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  background-color: rgb(40, 134, 15);
}

/*********************** UI Text ****************************/

.ui#score,
.ui#objectives,
.ui#toast,
.ui#countdown {
  position: absolute;
  font-family: Orbitron, Impact, Charcoal, sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  color: rgb(24, 95, 68);
  text-shadow: 2px 2px #ffc400f3;
  text-align: center;
  z-index: 2;
}
.ui#score {
  top: 20;
  left: 20;
}

.ui#objectives {
  left: 20;
  bottom: 20;
  display: none;
  text-align: left;
  font-size: 24px;
  color: rgb(29, 43, 238);
  text-shadow: 1px 1px #f5119ef3;
}

.ui#toast {
  margin-left: 312px;
  margin-top: 364px;
  width: 400px;
  height: 40px;
  font-size: 32px;
  border: 1px solid black;
 display: block; /*https://www.w3schools.com/css/css_display_visibility.asp*/
}

.ui#countdown {
  margin-left: 312px;
  margin-top: 364px;
  width: 400px;
  height: 40px;
  font-size: 18px;
  display: none;
  /*https://css-tricks.com/almanac/properties/a/animation/*/
  animation-name: expandfade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; /*https://www.w3schools.com/cssref/css3_pr_animation-timing-function.asp*/
  animation-delay: 0s;
  animation-play-state: running;
  animation-direction: normal; /*https://www.w3schools.com/cssref/css3_pr_animation-direction.asp*/
  animation-iteration-count: 1;
  animation-fill-mode: forwards; /*https://www.w3schools.com/cssref/css3_pr_animation-fill-mode.asp*/
}

/*https://css-tricks.com/almanac/properties/t/transform/*/
@keyframes expandfade {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  /*we could add intermediate frames with a rotation*/
  25% {
    transform: scale(3) rotate(-45deg);
  }

  75% {
    transform: scale(4) rotate(45deg);
  }

  100% {
    transform: scale(6);
    opacity: 0;
  }
}

/*********************** UI Pickups ****************************/

.ui#pickup-value{
  position: absolute;
  top: 50px;
  left: 100px;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 1em;  /*100% of the font size specified for the body tag*/
  z-index: 3;

 /*https://css-tricks.com/almanac/properties/a/animation/*/
 animation-name: fade-out-and-float-up;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;          /*https://www.w3schools.com/cssref/css3_pr_animation-timing-function.asp*/
 animation-delay: 0s;
 animation-direction: normal;                     /*https://www.w3schools.com/cssref/css3_pr_animation-direction.asp*/
 animation-iteration-count: 1;
 animation-fill-mode: forwards;                   /*https://www.w3schools.com/cssref/css3_pr_animation-fill-mode.asp*/
}

/*https://css-tricks.com/almanac/properties/t/transform/*/
@keyframes  fade-out-and-float-up {
 0% { 
   opacity: 1;
   transform: scale(1) translate(0px, 0px);
 }

 100% {
   opacity: 0;
   transform: scale(0.1) translate(0px, -120px);
 }
}
