canvas {
    position: absolute;
    border: 5px solid rgb(59, 59, 59);
    width: 1080;
    height:  720;
    z-index: 1;
  
    
    background-image: url("../assets/images/background.jfif");
    background-size: 120%;           
           
  }
  
  